<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TextViewReader"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="text/*" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="application/epub+zip" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
                <data android:mimeType="application/vnd.ms-word.document.macroenabled.12" />
                <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
                <data android:mimeType="application/vnd.ms-word.template.macroenabled.12" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReaderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".PdfReaderActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".DocumentPageActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.TextViewReader.DocumentSelectionContrast"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarkListActivity"
            android:exported="false" />
        <activity
            android:name=".LockActivity"
            android:exported="false"
            android:theme="@style/Theme.TextViewReader" />
        <activity
            android:name=".ThemeEditorActivity"
            android:exported="false" />
    </application>
</manifest>
